* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    flex-wrap: wrap;
    
}

nav {
    background-color: rgb(247, 247, 247);
    border-bottom: 2px rgb(222, 222, 222) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 300px;
    gap: 15px;
}
.logo img {
    width: 80px;
}
.logo h2 {
    font-size: 1.7rem;
}
.logo span {
    font-size: 2.2rem;
    color: rgb(36, 93, 163);
}

.nav-interactions {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.nav-email {
    display: flex;
    height:40px;
    gap:5px;
}

.nav-email button {
    background-color: rgb(40, 94, 165);
    border: none;
    color: white;
    width: 100px;
    border-radius:5px;
    cursor: pointer;
    transition: 0.2s;
}
.nav-email button:hover {
    background-color: rgb(30, 76, 136);
}

.nav-books {
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-books img{
    width:40px;
    height:40px;
}

.books-count{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.books-count h1{
    font-size:18px;
}
.books-count p{
    font-size:18px;
    padding-top:20px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.categories-container {
    background-color: rgb(209, 220, 232);
    border: 1px solid rgb(157, 167, 177);
    border-top: 0px;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    flex-wrap: wrap;
}

.categoria {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 180px;
    height: 90px;
    flex-wrap: wrap;
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(197, 209, 221);
    cursor: pointer;
    transition: 0.3s;
}
.categoria:hover {
    scale: 1.04;
}

.categoria img {
    width: 45px;
}

.categoria p {
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.808);
}

.main-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.discover {
    background-color:rgb(234, 234, 234);
    border: 2px solid rgb(224, 224, 224);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    flex-direction: row;
    text-align:center;
    padding: 20px;
}

.discover-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    font-weight: lighter;
    gap: 20px;
    text-align: start;
}
.title {
    font-size: 2.3rem;
    font-weight: bold;
}
.raya{
    border:3px solid rgb(39, 94, 160);
    width:80px;
}
.explore {
    max-width: 240px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.808);
    font-size: 1.3rem;
}
.discover-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
}
.discover-img img{
    height: 320px;
    border: 2px solid rgb(200, 200, 200);
}
.discover-img p {
    color: rgba(0, 0, 0, 0.751);
}

.Recomendaciones{
    width:400px;
    height:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}

.Recomendacion{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    border:1px solid gray;
    height:125px;
}

.Recomendacion img{
    width: 100px;
    height: 120px;
}

.Subrayado{
    text-decoration: underline;
}

.Recomendacion_Info{
    display:flex;
    flex-direction: column;
    max-width:350px;
    width:350px;
    padding:25px;
    position: relative;
    gap:15px;
}

.Desc{
    color:rgb(66, 66, 66);
    font-size:16px;
}
.Recomendacion_Info a{
    max-width:80px;
}
.Pedir{
    position:absolute;
    top:75px;
    left:210px;
}
.Pedir button{
        background-color:rgb(24, 55, 84);
    color:white;
    border:none;
    border-radius:50%;
    height:40px;
    width:40px;
    font-size:30px;
    cursor:pointer;
}

.Pedir button:hover{
    background-color:rgb(187, 76, 2);

}